body {
  margin: 0 !important;
  background: #f4ea8d;  
}

body * {
    font-family: Monospace, sans-serif;
    font-size: 15px;
}

#note-name {
    background: transparent;
    width: 100%;
    border: none;    
    border-bottom: solid 1px #dbcd90;
    padding: 12px;    
}

#note-body {
  width: 350px;
  height: 150px;
  padding: 12px;
  background: transparent;
  border: none;
  resize: none;  
}

#note-name:focus, #note-body:focus {
  outline: none;
}

#note-body::selection {  
  background: #87663b;
  color: white;
}

#note-save {
  width: 100%;
  background: transparent;
  border: none;
  border-top: solid 1px #dbcd90;
  padding: 12px;  
  color: #635c40;  
}

#note-save:hover {
    background: #eae188;
    cursor: pointer;
}

#note-save:focus {
  outline: none;
}
